In [147]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [3]:
data = pd.read_csv('data.csv')
#data.head(5)
#len(data)
data.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

In [442]:
#1. У какого фильма из списка самый большой бюджет?
films = ['The Dark Knight Rises', 'Spider-Man 3', 'Avengers: Age of Ultron', "The Warrior's Way", 'Pirates of the Caribbean: On Stranger Tides']

#группируем данные по названию указанных фильмов
grouped_data = data.loc[(data['original_title'] == 'The Dark Knight Rises') | 
         (data['original_title'] == 'Spider-Man 3') |
         (data['original_title'] == 'Avengers: Age of Ultron') |
         (data['original_title'] == "The Warrior's Way")|
         (data['original_title'] == 'Pirates of the Caribbean: On Stranger Tides')][['original_title', 'revenue', 'budget']]

#ищем с самым большим бюджетом
grouped_data[(grouped_data.budget == grouped_data.budget.max())].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [444]:
#2. Какой из фильмов самый длительный (в минутах)?
#группируем данные по названию указанных фильмов
grouped_data = data.loc[(data['original_title'] == 'The Lord of the Rings: The Return of the King') | 
         (data['original_title'] == 'Gods and Generals') |
         (data['original_title'] == 'Alexander') |
         (data['original_title'] == "King Kong")|
         (data['original_title'] == 'Pearl Harbor')][['original_title', 'runtime']]
#находим самый длительный фильм
grouped_data[(grouped_data.runtime == grouped_data.runtime.max())].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [445]:
#3. Какой из фильмов самый короткий (в минутах)?
grouped_data = data.loc[(data['original_title'] == 'Home on the Range') | 
         (data['original_title'] == 'The Jungle Book 2') |
         (data['original_title'] == 'Corpse Bride') |
         (data['original_title'] == "Winnie the Pooh")|
         (data['original_title'] == 'Hoodwinked!')][['original_title', 'runtime']]
#находим самый длительный фильм
grouped_data[(grouped_data.runtime == grouped_data.runtime.min())].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [452]:
#4. Какое число ближе к средней длительности фильма в датасете?
data['runtime'].mean()

109.65343915343915

In [453]:
#5. Какое число ближе к медианной длительности фильма в датасете?
data['runtime'].median()

106.5

In [456]:
#6. Какой самый прибыльный фильм?
data[data['profit'] == data['profit'].max()].original_title

239    Avatar
Name: original_title, dtype: object

In [356]:
#7. Какой фильм самый убыточный?
#Supernova tt0134983
#The Warrior's Way tt1032751
#Flushed Away tt0424095
#The Adventures of Pluto Nash tt0180052
#The Lone Ranger tt1210819

#добавляем колонку "прибыль"
data['profit'] = data['revenue'] - data['budget']

#группируем данные по названию указанных фильмов
grouped_data = data.loc[(data['original_title'] == 'Supernova') | 
         (data['original_title'] == 'Flushed Away') |
         (data['original_title'] == 'The Adventures of Pluto Nash') |
         (data['original_title'] == 'The Lone Ranger')|
         (data['original_title'] == "The Warrior's Way")][['original_title', 'revenue', 'budget', 'profit']]

#ищем самый убыточный
grouped_data[(grouped_data.profit == grouped_data.profit.min())].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [357]:
#8. У скольких фильмов из датасета объем сборов оказался выше бюджета?
count = 0
for film in data['profit']:
    if film > 0:
        count +=1
count

1478

In [361]:
#9.Какой фильм оказался самым кассовым в 2008 году?
#группируем фильмы за 2008 год
grouped_data = data.loc[(data['release_year'] == 2008)]

#ищем наиболее кассовый
grouped_data[(grouped_data.profit == grouped_data.profit.max())].original_title

600    The Dark Knight
Name: original_title, dtype: object

In [364]:
#10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
grouped_data = data.loc[(data['release_year'] == 2012) |
                        (data['release_year'] == 2013) |
                        (data['release_year'] == 2014)]
grouped_data[(grouped_data.profit == grouped_data.profit.min())].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

In [373]:
#11. Какого жанра фильмов больше всего?
#Action
#Adventure
#Drama
#Comedy
#Thriller

#Вариант 1

#print('Action', len(data[data.genres.str.contains('Action', na = False)]))
#print('Adventure', len(data[data.genres.str.contains('Adventure', na = False)]))
#print('Drama', len(data[data.genres.str.contains('Drama', na = False)]))
#print('Comedy', len(data[data.genres.str.contains('Comedy', na = False)]))
#print('Thriller', len(data[data.genres.str.contains('Thriller', na = False)]))

#Вариант 2
#создаем словарь с жанром и количесством фильмов этого жанра
genres = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']
genres_dict = {}

#находим максимальное значение в словаре (подсмотрено в интернете)
for genre in genres:
    genres_dict.update({genre: len(data[data.genres.str.contains(genre, na = False)])})
{x: y for x, y in filter(lambda x: genres_dict[x[0]] == max(genres_dict.values()), genres_dict.items())}

{'Drama': 782}

In [388]:
#12. Какого жанра среди прибыльных фильмов больше всего?
#Drama
#Comedy
#Action
#Thriller
#Adventure

genres = ['Action', 'Adventure', 'Drama', 'Comedy', 'Thriller']

for genre in genres:
    count = 0
    grouped_data = data[data.genres.str.contains(genre, na = False)]
    for profit in grouped_data['profit']:
        if profit > 0:
            count +=1
        genres_dict.update({genre: len(data[data.genres.str.contains(genre, na = False)])})
{x: y for x, y in filter(lambda x: genres_dict[x[0]] == max(genres_dict.values()), genres_dict.items())}

{'Drama': 782}

In [390]:
#13. Кто из режиссеров снял больше всего фильмов?
#Steven Spielberg
#Ridley Scott
#Steven Soderbergh
#Christopher Nolan
#Clint Eastwood
#data.director.unique()

directors = ['Steven Spielberg', 'Ridley Scott', 'Steven Soderbergh', 'Christopher Nolan', 'Clint Eastwood']
for director in directors:
    count = 0
    grouped_data = data[data.director.str.contains(director, na = False)]
    for s in grouped_data['profit']:
        count +=1
    print(director, count)

Steven Spielberg 10
Ridley Scott 12
Steven Soderbergh 13
Christopher Nolan 8
Clint Eastwood 12

In [391]:
#14. Кто из режиссеров снял больше всего прибыльных фильмов?
#Steven Spielberg
#Ridley Scott
#Steven Soderbergh
#Christopher Nolan
#Clint Eastwood
#data.director.unique()

directors = ['Steven Spielberg', 'Ridley Scott', 'Steven Soderbergh', 'Christopher Nolan', 'Clint Eastwood']
for director in directors:
    count = 0
    grouped_data = data[data.director.str.contains(director, na = False)]
    for s in grouped_data['profit']:
        if s > 0:
            count +=1
    print(director, count)

Steven Spielberg 10
Ridley Scott 12
Steven Soderbergh 10
Christopher Nolan 8
Clint Eastwood 10

In [401]:
#15. Кто из режиссеров принес больше всего прибыли?
#Steven Spielberg
#Christopher Nolan
#David Yates
#James Cameron
#Peter Jackson

directors = ['Steven Spielberg', 'David Yates', 'James Cameron', 'Christopher Nolan', 'Peter Jackson']
for director in directors:
    sum_profit = 0
    grouped_data = data[data.director.str.contains(director, na = False)]
    for s in grouped_data['profit']:
        sum_profit +=s
    print(director, round(sum_profit/10**9, 2), 'миллиардов $')

Steven Spielberg 2.45 миллиардов $
David Yates 3.38 миллиардов $
James Cameron 2.55 миллиардов $
Christopher Nolan 3.16 миллиардов $
Peter Jackson 5.2 миллиардов $

In [402]:
#16. Какой актер принес больше всего прибыли?
#Emma Watson
#Johnny Depp
#Michelle Rodriguez
#Orlando Bloom
#Rupert Grint

actors = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
for actor in actors:
    sum_profit = 0
    grouped_data = data[data.cast.str.contains(actor, na = False)]
    for s in grouped_data['profit']:
        sum_profit +=s
    print(actor, round(sum_profit/10**9, 2), 'миллиардов $')

Emma Watson 6.67 миллиардов $
Johnny Depp 4.78 миллиардов $
Michelle Rodriguez 4.61 миллиардов $
Orlando Bloom 5.15 миллиардов $
Rupert Grint 6.41 миллиардов $

In [406]:
#17.Какой актер принес меньше всего прибыли в 2012 году?
#Nicolas Cage
#Danny Huston
#Kirsten Dunst
#Jim Sturgess
#Sami Gayle
grouped_data = data.loc[(data['release_year'] == 2012)]

actors = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
for actor in actors:
    sum_profit = 0
    grouped_data_2 = grouped_data[grouped_data.cast.str.contains(actor, na = False)]
    for s in grouped_data_2['profit']:
        sum_profit +=s
    print(actor, round(sum_profit/(10**6), 2), 'миллиона $')

Nicolas Cage -32.89 миллиона $
Danny Huston -32.89 миллиона $
Kirsten Dunst -68.11 миллиона $
Jim Sturgess -23.41 миллиона $
Sami Gayle -32.89 миллиона $

In [407]:
#18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
#Tom Cruise
#Mark Wahlberg
#Matt Damon
#Angelina Jolie
#Adam Sandler
grouped_data = data.loc[(data['budget'] > data['budget'].mean())]
actors = ['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
for actor in actors:
    count = 0
    grouped_data_2 = grouped_data[grouped_data.cast.str.contains(actor, na = False)]
    for s in grouped_data_2['budget']:
        count +=1
    print(actor, count)

Tom Cruise 15
Mark Wahlberg 14
Matt Damon 18
Angelina Jolie 16
Adam Sandler 17

In [408]:
#19. В фильмах какого жанра больше всего снимался Nicolas Cage?
#Drama
#Action
#Thriller
#Adventure
#Crime
grouped_data = data.loc[data.cast.str.contains('Nicolas Cage', na = False)]

genres = ['Drama', 'Action', 'Thriller', 'Adventure', 'Crime']
for genre2 in genres:
    count = 0
    grouped_data_2 = grouped_data[grouped_data.genres.str.contains(genre2, na = False)]
    for s in grouped_data_2['genres']:
        count +=1
    print(genre2, count)

Drama 12
Action 17
Thriller 15
Adventure 7
Crime 10

In [409]:
#20. Какая студия сняла больше всего фильмов? !!!!!!!!!!!!!!
#Universal Pictures (Universal)
#Paramount Pictures
#Columbia Pictures
#Warner Bros
#Twentieth Century Fox Film Corporation

prod_comp = ['Universal', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox']
for comp in prod_comp:
    count = 0
    grouped_data = data[data.production_companies.str.contains(comp, na = False)]
    for s in grouped_data['original_title']:
        count +=1
    print(comp, count)

#ошибка из-за того, что в списке было указано Universal Pictures

Universal 185
Paramount Pictures 122
Columbia Pictures 163
Warner Bros 183
Twentieth Century Fox 117

In [410]:
#21. Какая студия сняла больше всего фильмов в 2015 году?
#Universal Pictures
#Paramount Pictures
#Columbia Pictures
#Warner Bros
#Twentieth Century Fox Film Corporation

grouped_data = data.loc[(data['release_year'] == 2015)]
prod_comp = ['Universal Pictures', 'Paramount Pictures', 'Columbia Pictures', 'Warner Bros', 'Twentieth Century Fox Film Corporation']
for comp in prod_comp:
    count = 0
    grouped_data_2 = grouped_data[grouped_data.production_companies.str.contains(comp, na = False)]
    for s in grouped_data_2['production_companies']:
        count +=1
    print(comp, count)

Universal Pictures 11
Paramount Pictures 7
Columbia Pictures 7
Warner Bros 12
Twentieth Century Fox Film Corporation 8

In [418]:
#22. Какая студия заработала больше всего денег в жанре комедий за все время?
#Warner Bros
#Universal Pictures (Universal)
#Columbia Pictures
#Paramount Pictures
#Walt Disney

grouped_data = data.loc[data.genres.str.contains('Comedy', na = False)]
prod_comp = ['Universal Pictures', 'Columbia Pictures', 'Paramount Pictures', 'Warner Bros', 'Walt Disney']
for comp in prod_comp:
    count = 0
    grouped_data_2 = grouped_data[grouped_data.production_companies.str.contains(comp, na = False)]
    for s in grouped_data_2['profit']:
        count +=s
    print(comp, count/10**9, 'миллиардов $')

Universal Pictures 8.952422726 миллиардов $
Columbia Pictures 7.161805266 миллиардов $
Paramount Pictures 3.055625722 миллиардов $
Warner Bros 4.370928916 миллиардов $
Walt Disney 7.975933215 миллиардов $

In [423]:
#23. Какая студия заработала больше всего денег в 2012 году?
#Universal Pictures (Universal)
#Warner Bros
#Columbia Pictures
#Paramount Pictures
#Lucasfilm

grouped_data = data.loc[(data['release_year'] == 2012)]
prod_comp = ['Universal Pictures', 'Columbia Pictures', 'Paramount Pictures', 'Warner Bros', 'Lucasfilm']
for comp in prod_comp:
    count = 0
    grouped_data_2 = grouped_data[grouped_data.production_companies.str.contains(comp, na = False)]
    for s in grouped_data_2['profit']:
        count +=s
    print(comp, count/10**9, 'миллиардов $')

Universal Pictures 1.981011579
Columbia Pictures 2.501406608
Paramount Pictures 0.410726715
Warner Bros 1.258020056
Lucasfilm -0.007634623

In [425]:
#24. Самый убыточный фильм от Paramount Pictures
#K-19: The Widowmaker tt0267626
#Next tt0435705
#Twisted tt0315297
#The Love Guru tt0811138
#The Fighter tt0964517

grouped_data = data[data.production_companies.str.contains('Paramount Pictures', na = False)]
films = ['K-19: The Widowmaker', 'Next', 'Twisted', 'The Love Guru', 'The Fighter']
for film in films:
    grouped_data_2 = grouped_data[grouped_data.original_title.str.contains(film, na = False)]
    count = 0
    for s in grouped_data_2['profit']:
        count +=s
    print(film, count/10**6, 'миллионов $')

K-19: The Widowmaker -64.831034 миллионов $
Next -51.788987 миллионов $
Twisted -24.805 миллионов $
The Love Guru -20.180936 миллионов $
The Fighter -15.809131 миллионов $

In [427]:
#25. Какой Самый прибыльный год (заработали больше всего)?¶
2014
2008
2012
2002
2015
years = [2014, 2008, 2012, 2002, 2015]
for year in years:
    grouped_data = data.loc[(data['release_year'] == year)]
    count = 0
    for s in grouped_data['profit']:
        count +=s
    print(year, count/10**9, 'миллиардов $')

2014 16.397812953 миллионов $
2008 11.66388199 миллионов $
2012 16.077001687 миллионов $
2002 9.002361487 миллионов $
2015 18.668572378 миллионов $

In [429]:
#26. Какой Самый прибыльный год для студии Warner Bros?
2014
2008
2012
2010
2015
grouped_data = data[data.production_companies.str.contains('Warner Bros', na = False)]
years = [2014, 2008, 2012, 2002, 2015]
for year in years:
    grouped_data_2 = grouped_data.loc[(grouped_data['release_year'] == year)]
    count = 0
    for s in grouped_data_2['profit']:
        count +=s
    print(year, count/10**9, 'миллиардов $')

2014 2.295464519 миллиардов $
2008 2.134595031 миллиардов $
2012 1.258020056 миллиардов $
2002 1.022709901 миллиардов $
2015 0.870368348 миллиардов $

In [129]:
#27. В каком месяце за все годы суммарно вышло больше всего фильмов?
#Январь
#Июнь
#Декабрь
#Сентябрь
#Май
import re
pattern = re.compile(r'^\d+')
months = ['1', '6', '12', '9', '5']

for month in months:
    count = 0
    for date in data.release_date:        
        results = pattern.findall(date)
        for result in results:
            if month == result:
                count +=1 
    print(month, count)

1 110
6 147
12 191
9 227
5 140

In [142]:
#28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
345
450
478
523
381
import re
pattern = re.compile(r'^\d+')
months = ['6', '7', '8']

sum_summer=0
for month in months:
    count = 0

    for date in data.release_date:        
        results = pattern.findall(date)

        for result in results:

            if month == result:
                count +=1 
    print(month, count)
    sum_summer +=count    

print(sum_summer)

6 147
7 142
8 161
450

In [430]:
#29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
#Steven Soderbergh
#Christopher Nolan
#Clint Eastwood
#Ridley Scott
#Peter Jackson

pattern = re.compile(r'^\d+')
months = ['12', '1', '2']
directors = ['Steven Soderbergh', 'Christopher Nolan', 'Clint Eastwood', 'Ridley Scott', 'Peter Jackson']
for director in directors:
    sum_winter=0
    grouped_data = data[data.director.str.contains(director, na = False)]
    for month in months:
        count = 0

        for date in grouped_data.release_date:        
            results = pattern.findall(date)

            for result in results:

                if month == result:
                    count +=1 
        sum_winter +=count    

    print(director, sum_winter)

Steven Soderbergh 6
Christopher Nolan 0
Clint Eastwood 6
Ridley Scott 3
Peter Jackson 7

In [198]:
#30. Какой месяц чаще всего по годам самый прибыльный?
#Январь
#Июнь
#Декабрь
#Сентябрь
#Май

import re

#выделяем месяц релиза в отдельный столбик
pattern = re.compile(r'^\d+')
dates = []
for date1 in data.release_date:
    results = pattern.findall(date1)
    dates+=results
data['release_month'] = dates
data.head(5)  

#делаем сводную таблицу с прибыльностью каждого месяца
pivot = data.pivot_table(values = ['profit'],
index = ['release_month'],
columns = ['release_year'],
aggfunc = 'sum')

#преобразуем MultiIndex в Index
pivot.columns = pivot.columns.droplevel(0)
#display(pivot)

y = []
#переводим названия столбцов из целых величин в строковые
for column in pivot.columns:
    x = str(column)
    y.append(x)
pivot.columns = y
pivot.columns
pivot_df = pivot.groupby(['release_month']).max()
#display(pivot_df)

#определяем максимальное значение в каждом месяце, делаем список из месяцев
max_months = []
for column in pivot_df.columns:
    max_m = pivot_df[column].idxmax()
    max_months.append(max_m)
#print(max_months) 

#считаем количество одинаковые значений в строках с помощью встроенного класса Counter из модуля collections:
counts = Counter(max_months)
print(counts)

Counter({'6': 7, '12': 4, '5': 4, '7': 1})

In [432]:
#31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
#Universal Pictures (Universal)
#Warner Bros
#Jim Henson Company, The
#Paramount Pictures
#Four By Two Productions

prod_comp = ['Universal Pictures', 'Four By Two Productions', 'Paramount Pictures', 'Warner Bros', 'Jim Henson Company']
for comp in prod_comp:
    count = 0
    sum_title = 0
    grouped_data = data[data.production_companies.str.contains(comp, na = False)]
    for film in grouped_data.original_title:
        count=count+1
        sum_title +=len(film)
    print(comp, sum_title/count)

Universal Pictures 14.731428571428571
Four By Two Productions 83.0
Paramount Pictures 17.0327868852459
Warner Bros 15.251366120218579
Jim Henson Company 59.0

In [221]:
#32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
#Universal Pictures (Universal)
#Warner Bros
#Jim Henson Company, The
#Paramount Pictures
#Four By Two Productions
prod_comp = ['Universal Pictures', 'Four By Two Productions', 'Paramount Pictures', 'Warner Bros', 'Jim Henson Company']
for comp in prod_comp:
    count = 0
    sum_title = 0
    grouped_data = data[data.production_companies.str.contains(comp, na = False)]
    for film in grouped_data.original_title:
        count=count+1
        sum_title +=len(film.split())
    print(comp, sum_title/count)

Universal Pictures 2.617142857142857
Four By Two Productions 12.0
Paramount Pictures 2.8688524590163933
Warner Bros 2.73224043715847
Jim Henson Company 10.0

In [242]:
#33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
#6540
#1002
#2461
#28304
#3432
sum_title = []
for film in data.original_title:
    for words in film.split():
        sum_title.append(words.lower())
#print(sum_title)
df=pd.DataFrame(sum_title)
df[0].nunique()

2461

In [439]:
#34. Какие фильмы входят в 1 процент лучших по рейтингу? !!!!!!!!!!!!!!!!!!
#Inside Out, Gone Girl, 12 Years a Slave
#BloodRayne, The Adventures of Rocky & Bullwinkle
#The Lord of the Rings: The Return of the King
#300, Lucky Number Slevin

grouped_data = data.groupby(['original_title'])['vote_average'].max().sort_values(ascending = False)

#всего 1888,значит первые 18-19 фильмов в рейтинги будут 1% лучших 
display(grouped_data[0:21])

#ошибка из-за того, что отранжировал фильмы по популярности,а не среднему рейтингу

original_title
The Dark Knight                                      8.1
Inside Out                                           8.0
Interstellar                                         8.0
The Imitation Game                                   8.0
Room                                                 8.0
Gone Girl                                            7.9
The Lord of the Rings: The Return of the King        7.9
The Grand Budapest Hotel                             7.9
Memento                                              7.9
The Pianist                                          7.9
The Wolf of Wall Street                              7.9
Guardians of the Galaxy                              7.9
12 Years a Slave                                     7.9
Inception                                            7.9
The Theory of Everything                             7.8
Eternal Sunshine of the Spotless Mind                7.8
There Will Be Blood                                  7.8
Prisoners                                            7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
The Fault in Our Stars                               7.8
Spotlight                                            7.8
Name: vote_average, dtype: float64

In [283]:
#35. Какие актеры чаще всего снимаются в одном фильме вместе
#Johnny Depp & Helena Bonham Carter
#Hugh Jackman & Ian McKellen
#Vin Diesel & Paul Walker
#Adam Sandler & Kevin James
#Daniel Radcliffe & Rupert Grint
actors_tween = [['Johnny Depp', 'Helena Bonham Carter'], ['Hugh Jackman','Ian McKellen'], ['Vin Diesel','Paul Walker'], 
         ['Adam Sandler','Kevin James'], ['Daniel Radcliffe', 'Rupert Grint']]
for actors in actors_tween:
    grouped_data = data.loc[data.cast.str.contains(actors[0], na = False)]
    grouped_data2 = grouped_data.loc[grouped_data.cast.str.contains(actors[1], na = False)]
    print(actors[0],'&', actors[1], 'снимались вместе в одном фильме', len(grouped_data2), 'раз')

Johnny Depp & Helena Bonham Carter снимались вместе в одном фильме 6 раз
Hugh Jackman & Ian McKellen снимались вместе в одном фильме 5 раз
Vin Diesel & Paul Walker снимались вместе в одном фильме 5 раз
Adam Sandler & Kevin James снимались вместе в одном фильме 5 раз
Daniel Radcliffe & Rupert Grint снимались вместе в одном фильме 8 раз

In [296]:
#36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
#Quentin Tarantino
#Steven Soderbergh
#Robert Rodriguez
#Christopher Nolan
#Clint Eastwood

#1. сортируем по фамилиям режиссеров
directors = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

for director1 in directors:
    count = 0
    allcount = 0
    grouped_data = data[data.director.str.contains(director1, na = False)]
    for s in grouped_data['profit']:
        allcount +=1
        if s > 0:
            count +=1
    print(director1, count/allcount)

#2. считаем общее количество фильмов по каждому режиссеру
#3. считаем количество фильмов с прибылью и процент от общего количества

Quentin Tarantino 0.8571428571428571
Steven Soderbergh 0.7692307692307693
Robert Rodriguez 0.7272727272727273
Christopher Nolan 1.0
Clint Eastwood 0.8333333333333334

In [75]:
# Предобработка датасета

In [303]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [304]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [305]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [306]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [307]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [308]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [309]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [310]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [311]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [312]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [313]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [314]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [315]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [316]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [317]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [318]:

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [319]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [320]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [321]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [322]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [323]:
answer_ls.append(4)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [324]:
answer_ls.append(1)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [325]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [326]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [327]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [328]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [329]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [330]:
answer_ls.append(1)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [331]:
answer_ls.append(1)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [332]:
answer_ls.append(1)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [333]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [334]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [335]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [336]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [337]:
answer_ls.append(3)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [338]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [339]:
answer_ls.append(4)

# Submission

In [340]:
len(answer_ls)

36

In [341]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       4
20  21       1
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       1
27  28       1
28  29       1
29  30       2
30  31       5
31  32       5
32  33       3
33  34       3
34  35       5
35  36       4